NEXT_PUBLIC_RPC_LOCAL=http://127.0.0.1:8545
NEXT_PUBLIC_RPC_ARC_TESTNET=https://rpc.testnet.arc.network

NEXT_PUBLIC_API_PROVIDER=http://localhost:3001
NEXT_PUBLIC_API_EVALUATOR=http://localhost:3002

BLOCKSCOUT_API_KEY=
